/* =========================
   VARIABLES
========================= */

:root{
    --blanco: #ffffff;
    --azul:  #00D3F3;
    --gris: #99A188;
    --gris-oscuro: #666666;
    --color-blue-500: oklch(62.3% 0.214 259.815);
    --color-purple-600: oklch(55.8% 0.288 305);
    --color-letra: #D4CFCF;
    --negro: #0D1111;
}

/* ------ BASE------ */

.layout-global{
    width: min(1600px, 100%);
    margin-inline: auto;
    padding-inline: clamp(20px, 6vw, 140px);
}

body{
    
    background-color: #000;
    font-family: 'Inter', sans-serif;
}

/* =========================
   HEADER
========================= */
.contenedor-header{
    display: flex;
    align-items: center;
    justify-content: space-between; /* 游댠 clave */
    padding: 18px 0;
}


.encabezado{
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.9),
        rgba(2,6,23,0.8)
    );

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.encabezado.scrolled{
    background: rgba(0,0,0,0.9);
}


/* ===== Logo ===== */

.izquierda{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-caja{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: linear-gradient(
        to top right,
        var(--color-blue-500),
        var(--color-purple-600)
    );
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo svg{
    height: 22px;
    width: auto;
    color: var(--blanco);
}

h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: var(--blanco);
}

.cambio{
    color: var(--azul);
}

/* ===== Menu ===== */

.menu{
    display: flex;
    gap: 35px;
}

.menu a{
    text-decoration: none;
    color: var(--color-letra);
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    transition: 0.3s ease;
}

.menu a:hover{
    color: var(--blanco);
}

/* ===== Iconos ===== */

.derecha{
    display: flex;
    align-items: center;
    gap: 25px;
}

.imgs svg{
    height: 20px;
    width: auto;
    color: var(--color-letra);
    transition: 0.3s ease;
    cursor: pointer;
}
/* Contenedor relativo */
.carrito{
    position: relative;
}

/* Badge del carrito */
.badge-carrito{
    position: absolute;
    top: -6px;
    right: -8px;

    background: var(--azul);
    color: white;

    font-size: 11px;
    font-weight: 700;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #000; /* borde para que no se mezcle con fondo */
}

.imgs svg:hover{
    color: var(--blanco);
    transform: scale(1.1);
}

/* =========================
   HERO
========================= */

.hero{
    background: linear-gradient(
        135deg,
        #000000,
        #020617,
        #020024
    );
    padding-top: 140px;
    padding-bottom: 0px;
    color: var(--blanco);
}
.hero{
    position: relative;
}

.hero::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background: linear-gradient(
        to right,
        transparent,#212121,
        transparent
    );
}

/* Etiqueta superior */

.sub{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: rgba(255,255,255,0.05);
    padding: 8px 18px;
    border-radius: 30px;
    text-decoration: none;
    color: var(--azul);
    font-size: 14px;
    font-weight: 600;
}

/* T칤tulo */

.titulo-grande{
    font-size: clamp(32px, 8vw, 70px);
    font-weight: 1000;
    line-height: 1.1;
    margin-bottom: 20px;
}

.titulo-grande .linea{
    display: inline;
}

.gradiente{
    background: linear-gradient(90deg, #00D3F3, #8B5CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Descripci칩n */

.descripcion{
    color: #B4C3CF;
    font-size: clamp(14px, 4vw, 18px);
    font-weight: 500;
    margin-bottom: 10px;
    max-width: 500px;
}
/* Botones */


.botones-hero{
    display: flex;
    gap: 16px;
}

/* Tama침o fijo absoluto */
.btn-hero-primary,
.btn-hero-secondary{
    width: 220px;
    height: 48px;

    display: inline-flex;   /* 游댠 importante */
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;

    flex: none;             /* 游댠 evita crecer o encoger */
    max-width: 220px;       /* 游댠 bloquea expansi칩n */
}

.btn-hero-primary:hover  {
    background: var(--azul);
    transform: translateY(-2px);
}

.btn-hero-primary:hover .flecha {
    transform: translatex(5px); 
}

.btn-hero-primary .flecha{
    display: inline-block;   
    color: var(--negro);
    transition: transform 0.3s ease;
}




.btn-hero-secondary:hover{
    padding: 12px 28px;
    font-weight: 700;
    color: var(--blanco);
    background: #212121;
}



/* Imagen */
.imagen-hero{
    transform: rotate(3deg);
    transition: 0.8s ease;
    position: relative;
    z-index: 3; /* La imagen siempre arriba */
    font-size: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.imagen-hero:hover{
    transform: rotate(0deg) scale(1.0);
}



.rtx-badge {
    position: absolute;
    top: -45px;      /* m치s arriba */
    right: 15px;    /* pegado a la derecha */

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 18px;
    border-radius: 16px;

    background: rgba(15, 15, 20, 0.85);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(0, 140, 255, 0.25);
    box-shadow: 0 0 20px rgba(0, 140, 255, 0.08);

    animation: floatBadge 3s ease-in-out infinite;

    z-index: 3; /* 游댠 MUY IMPORTANTE para que quede encima */
}
/* ICONO */
.rtx-icon {
    width: 36px;
    height: 36px;

    background: linear-gradient(135deg, #00bfff, #008cff);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 15px rgba(0, 140, 255, 0.4);
}

.hero .col-lg-6:last-child{
    position: relative;
}


.rtx-content {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}



.rtx-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: var(--blanco);
}

.rtx-sub {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    color: var(--gris);
}

/* ANIMACI칍N */
@keyframes floatBadge {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

/*------numeros----*/


.numeros{
    padding: 30px 0;
    padding-left: 100px;
 
    
}

.numeros .row{
    column-gap: 10px; /* 游댠 separaci칩n exacta 6px */
    
    margin-top: -35px;
}

.numero{
    font-size: clamp(25px, 2.5vw, 30px); /* m치s peque침os */
    font-weight: 700;
    color: #ffffff;
    margin-right: 18px;
    margin-bottom: 2px;
}

.frase{
    font-size: clamp(10px, 1.5vw, 13px); /* m치s peque침a */
    color: var(--color-letra);
    margin: 0, 10px ,0, 0s;
    opacity: 0.85;
}


/*****categorias ****/


.brows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px 0 100px;
}
.brows h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
    position: relative;
}

.brows h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;     /* largo de la linea (aj칰stalo) */
    height: 4px;
    background: #00cfe8; /* color de la linea */
    border-radius: 5px;
}
.brows p{
    color: var(--gris-oscuro);
    cursor: pointer;
}

.brows p{
    color: var(--gris-oscuro);
    cursor: pointer;
}


/****cajas de las categorias*/

.productos-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.producto-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 140px;
    border: 1px solid #ddd;
    border-radius: 12px;
    text-decoration: none;
    color: white; /* si fondo oscuro */
     transition: all 0.4s ease; 
}







.producto-card:hover{
    transform: translateY(-6px);
    box-shadow:
        0 10px 30px rgba(0,0,0,0.6),
        0 0 20px rgba(255,255,255,0.05);
}


.icono{
    width: 60px;
    height: 60px;
    border-radius: 16px;
    background: rgba(255,255,255,0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
}


.caja p {
  text-align: justify;
}


.producto-card h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.producto-card p{
    font-size: 13px;
    opacity: 0.7;
    letter-spacing: 1px;
    margin: 0;
}



.caja {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.producto-card:nth-child(1){
    background: linear-gradient(135deg, #0f172a, #020617);
}

.producto-card:nth-child(2){
    background: linear-gradient(135deg, #111827, #030712);
}

.producto-card:nth-child(3){
    background: linear-gradient(135deg, #1e1b4b, #020617);
}

.producto-card:nth-child(4){
    background: linear-gradient(135deg, #052e2b, #020617);
}

.producto-card:nth-child(5){
    background: linear-gradient(135deg, #2a1a05, #020617);
}

.producto-card:nth-child(6){
    background: linear-gradient(135deg, #1f1f1f, #020617);
}


.box {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


.producto-card{
    backdrop-filter: blur(10px);
}


.produ{

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    line-height: 1.6;

}


.productos p{
    color: var(--gris-oscuro);

       font-family: 'Inter', sans-serif;
    font-weight: 500;
}






/* ----------RESPONSIVE-MEDIA --------- */
@media (max-width: 1285px){

    .container{
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
        .numeros{
        padding-left: 100px;
    }
}

@media (max-width: 1120px){



    .titulo-grande{
        font-size: 80px; /* antes 70px */
    }

    .descripcion{
        font-size: 16px;
    }

      .imagen-hero{
        max-width: 90%;
        transform: rotate(0deg);
    }
    .rtx-badge{
        top: -40px;
        right: 5px;
        transform: scale(0.9);
    }


    .titulo-grande .linea{
    display: inline;
}

}


@media (max-width: 1025px){
    .titulo-grande{
    font-size:80px;
  
}

    .titulo-grande .linea{
        display: inline;
    }


}




@media (max-width: 992px){


    .imagen-hero{
        max-width: 85%;
        transform: rotate(0deg) scale(0.9);
    }

    .rtx-badge{
        transform: scale(0.85);
        top: -30px;
        right: 0;
    }
  .productos-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px){

    .imagen-hero{
        max-width: 75%;
        transform: rotate(0deg) scale(0.8);
        margin: 0 auto;
        display: block;
    }

    .rtx-badge{
        transform: scale(0.75);
        top: -20px;
        right: 0;
    }
        .titulo-grande{
    font-size: 70px;
}

    .rtx-badge{
        display: none;
    }

        .brows{
        padding: 40px 20px 0 20px;
    }

    .brows h1{
        font-size: 24px;
    }

    .brows p{
        padding-top: 30px;
        font-size: 14px;
    }


  .productos-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px){

    .titulo-grande{
        font-size: 40px;
        padding-left: 30px;
    }

    .sub{
        padding-left: 30px;
    }
    .descripcion{
        padding-left: 30px;
        display: block;
    }
    .titulo-grande .linea{
        display: inline;
    }

    .numeros{
        padding-left: 0px;
    }

    .btn-hero-primary,
    .btn-hero-secondary{
        width: 100%;
        text-align: center;
    }

    .botones-hero{
            flex-direction: column;
            align-items: center; /* 游댠 CLAVE: evita stretch */
            padding-left: 0;
        }
    
  .productos-grid{
    grid-template-columns: repeat(2, 1fr);
  }

}

